body {
  font-family: 'Roboto-Regular';
  width: 100wh;
  max-width: 1280px;
}

@mixin title_for_article ($color) {
  font-size: 28px;
  line-height: 32px;
  color: #333333;
}

.article-title--light-black {
  @include title_for_article(#333333)
}

.article-title--black {
  @include title_for_article(#111111)
}

.article-description {
  font-size: 17px;
  line-height: 28px;
  color: #333333;
}

.header {
  &__body {
    padding: 48px 48px 40px 48px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__content {
  }
  &__article-description {
    font-family: 'Roboto-Bold';
    font-size: 13px;
    line-height: 20px;
    width: 94px;
    height: 26px;
    background: #ffdd2d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
  }

  &__circle {
    width: 20%;
    max-width: 80px;
    height: 80px;
    background: #f1f3f5;
    border-radius: 50%;
  }

  &__title {
    font-size: 36px;
    line-height: 44px;
    color: #111111;
  }
}

.nav {
  &__body {
    padding: 0 48px 48px 48px;
  }
  &__title {
    font-size: 17px;
    line-height: 28px;
    color: #808C9E;
    padding-bottom: 8px;
  }
  &__hashtags {
    font-size: 17px;
    line-height: 28px;
    display: flex;
    column-gap: 12px;
    a {
      background-color: #F1F3F5;
      color: #808C9E;
      text-decoration: none;
    }
  }
}

.article {
  &__body {
    margin: 0 48px 48px 48px;
  }
  &__title {
    padding-bottom: 16px;
    img {
      display: inline;
      padding-bottom: 2px;
    }
  }
  &__title--big-padding {
    padding-top: 28px;
  }
  &__link {
  color: #597DB3;
  text-decoration: none;
  border-bottom: 1px solid #336FEE;
  }
  &__description {
    margin-bottom: 48px;
  }
  &__list {
    padding: 0;
    li {
      font-size: 17px;
      line-height: 28px;
      list-style-position: inside;
      padding-bottom: 16px;
    }
  }
  &__list--big-padding {
    li {
      padding-bottom: 36px;
    }
  }

  &__list--arrow {
    list-style-type: '👉';
  }
  &__list--check {
    list-style-type: '✅';
  }
}

.footer {
  &__body {
    padding: 0 48px 50px 48px;
    margin-top: -18px;
  }
  &__author-info {
    display: flex;
    column-gap: 16px;
    align-items: center;
    justify-content: flex-start;
    max-width: 288px;
  }
  &__author-image {
    width: 64px;
    height: 64px;
  }
  &__author-name {
    font-family: 'Roboto-Bold';
    font-size: 14px;
    line-height: 20px;   
    color: #333333;
  }
  &__author-post {
    font-size: 15px;
    line-height: 20px;   
    color: #808C9E;
  }
  &__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 48px;
  }
  &__editor {
    font-size: 15px;
    line-height: 20px;
    color: #808C9E;
  }
  &__link {
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    color: #597DB3;
    border-bottom: 1px solid #597DB3;
  }
}
